{% extends 'users/base.html' %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="text-right mb-4">
      <a href="{% url 'lend_money' %}" class="btn btn-primary">Новый долг</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="text-right mb-4">
      <a href="{% url 'take_loan' slug='Долг' %}" class="btn btn-primary">Дать в долг у существующему контакту</a>
    </div>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header">
    <h2>Debts</h2>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Agent</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for debt in my_debts %}
        <tr>
          <td>{{ debt.date }}</td>
          <td>{{ debt.agent }}</td>
          <td>{{ debt.amount }}</td>
          <td>
            <a href="{% url 'repay' transaction_id=debt.id slug='Увеличить' %}" class="btn btn-sm btn-primary me-2">
              Увеличить
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}