{% extends 'users/base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-5">Статистика аккаунта</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Всего дали</h5>
            <p class="card-text text-center display-4">{{ total_given }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Всего взяли</h5>
            <p class="card-text text-center display-4">{{ total_taken }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Баланс</h5>
            <p class="card-text text-center display-4">{{ balance }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


