{% extends 'users/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-right mb-4">
          <a href="{% url 'lend_money' %}" class="btn btn-primary">Новый долг</a>
        </div>
      </div>
    </div>
    <h1 class="text-center mb-4">Мои должники</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Должник</th>
              <th scope="col">Сумма</th>
              <th scope="col">Описание</th>
            </tr>
          </thead>
          <tbody>
            {% for debt in debts_to_me %}
              <tr>
                <td>{{ debt.agent.name }}</td>
                <td>{{ debt.amount }}</td>
                <td>{{ debt.description }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
