{% extends 'users/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="text-center mb-4">Мои задолженности</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Должник</th>
              <th scope="col">Сумма</th>
              <th scope="col">Описание</th>
            </tr>
          </thead>
          <tbody>
            {% for debt in debts_to_me %}
              <tr>
                <td>{{ debt.agent.name }}</td>
                <td>{{ debt.amount }}</td>
                <td>{{ debt.description }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
