{% extends 'users/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="text-center mb-5">История задолженностей</h1>

    <table class="table table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Агент</th>
          <th scope="col">Тип</th>
          <th scope="col">Сумма</th>
          <th scope="col">Дата</th>
        </tr>
      </thead>
      <tbody>
        {% for debt in debts_history %}
          <tr>
            <td>{{ debt.agent }}</td>
            <td>{{ debt.tranzaction_type }}</td>
            <td>{{ debt.amount }}</td>
            <td>{{ debt.date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


