{% extends 'users/base.html' %}

{% block content %}
    <main>


<div style="margin-top: 100px">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Взять  долг</h2>
          <p> </p>
          <a class="btn btn-outline-light" href="{% url 'contacts' slug='Займ' %}">Взять</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Погасить долг</h2>
          <p></p>
          <a class="btn btn-outline-secondary" href="{% url 'my_debts' %}">Погасить долг</a>
        </div>
      </div>
    </div>
</div>

<div style="margin-top: 100px">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Дать  в долг</h2>
          <p></p>
          <a class="btn btn-outline-light" href="{% url 'contacts' slug='Долг' %}">Дать</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Получить погашение</h2>
          <p></p>
          <a class="btn btn-outline-secondary" href="{% url 'debts_to_me' %}">Получить погашение</a>
        </div>
      </div>
    </div>
</div>


    <footer class="pt-3 mt-4 text-muted border-top">
      © 2021
    </footer>
  </div>
</main>
{% endblock %}
