{% extends 'users/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="text-center mt-5 mb-4">Оборот задолженностей</h1>

    <div class="row">
      <div class="col-md-6">
        <h2>Дано</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Месяц</th>
              <th>Сумма</th>
            </tr>
          </thead>
          <tbody>
            {% for debt in given_by_month %}
              <tr>
                <td>{{ debt.month|date:"F Y" }}</td>
                <td>{{ debt.amount }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h2>Взято</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Месяц</th>
              <th>Сумма</th>
            </tr>
          </thead>
          <tbody>
            {% for debt in taken_by_month %}
              <tr>
                <td>{{ debt.month|date:"F Y" }}</td>
                <td>{{ debt.amount }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
